<div class="main">
<div class="jumbtron">
    <h1 class="display-4 text-center">Forgot User ID</h1>
</div>

<form #form="ngForm"  class="from1" (submit)="custid()" autocomplete="off"  >
    <div class="form-group">

    <div>
        <input type="text" name="Account_Number"  class="un" (input)="accountnum($event)" placeholder="Enter Account Number" required pattern="\d{8}">
        <!-- <div class="validation-error" style="color:red" *ngIf="Account_Number.invalid && Account_Number.touched">This field is required</div> -->
    </div>

    <div>
        <button type="submit" [disabled]="form.invalid"  class="submit">Proceed</button>
    </div>
</div>
</form>
<form #form2="ngForm"  class="from1" (submit)="CustId(OTP)">
    <div>
        <input type="number" name="Otp" #Otp="ngModel" [(ngModel)]="OTP" placeholder="Enter OTP" class="un" >

      <div style="color:red">{{errormessage}}</div>
    </div>
    <div>
        <button type="submit" [disabled]="form2.invalid" class="submit">Submit</button>
    </div>
</form>
</div>

