<div class='main'>
    <h4 class="Display-4 text-center">Please enter the Credentials</h4>
    <form #deptForm='ngForm' class="form1" (ngSubmit)='saveLogin(model)'>
        <div>
            
            <input type='text' class='un' style="text-align: center" id='CustomerID' name='CustomerID' placeholder="Enter User Id" required
             [(ngModel)]='model.CustomerID' />
        </div>

        <div>
            
            <input type='password' class='pass' id='Password' name='Password' placeholder="Enter Password" required
             [(ngModel)]='model.Password' />
        </div>
        
        <div>
            <button type='submit' [disabled]='deptForm.invalid' class="submit">Login</button>
        </div>

    </form>
    <br/>
    <div class="text-center">
        <a [routerLink] = "['/forgotuserid']" >Forgot UserId?</a><br/>
        <a [routerLink] = "['/forgotpassword']">Forgot Password?</a><br/>
    </div>
</div>