<h1> Transfer Successful!</h1>
<div>
    <label for="ref">Reference Id</label>
    <input type='text' class='form-control' id='ref' name='ref' 
     value="{{trans.Transaction_Id}}" />
</div>
<div>
    <label for="mod">Mode</label>
    <input type='text' class='form-control' id='mod' name='mod' 
     value="{{trans.Mode}}" />
</div>
<div>
    <label for="payto">Paid To Account</label>
    <input type='text' class='form-control' id='payto' name='payto' 
     value="{{trans.To_Account_Number}}" />
</div>
<div>
    <label for="amt">Amount</label>
    <input type='text' class='form-control' id='amt' name='amt' 
     value="{{trans.Amount}}" />
</div>
<div>
    <label for="payfr">From Account</label>
    <input type='text' class='form-control' id='payfr' name='payfr' 
     value="{{trans.From_Account_Number}}" />
</div>
<div>
    <label for="on">On</label>
    <input type='text' class='form-control' id='on' name='on' 
     value="{{trans.Transaction_Date | date}}" />
</div>
<div>
    <label for="rem">Remarks</label>
    <input type='text' class='form-control' id='rem' name='rem' 
     value="{{trans.Remark}}" />
</div>
<a [routerLink] = "['/dashboard']">Return to Dashboard</a>