<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity=
  "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    
  
</head>
<body>
<div class="navigation">
 <h4 type="none" class="btn-success" style="font-weight: bolder;"> 
       
    
          <a [routerLink] = "['/logout']" style="float:right">
            <span class = "icon"><i class="fa fa-power-off" aria-hidden="true"></i> </span>  &nbsp;
            <span class ="title" >Logout </span></a><br/></h4>
  
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav hidden-xs">
      <h2>DashBoard</h2>
      <ul class="nav nav-pills nav-stacked">
        
          <li>
            <a [routerLink] = "['/dashboard']">
              <span class = "icon"> <i class="fa fa-bars" aria-hidden="true"></i> </span>  &nbsp;
              <span class ="title">Dashboard </span></a></li><br/>
          <li>
            <a [routerLink] = "['/Transactionsummary']">
              <span class = "icon"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  &nbsp;
              <span class ="title">Account Summary </span></a></li><br/>

              <li>
                <a [routerLink] = "['/transverify']">
                  <span class = "icon"> <i class="fa fa-exchange" aria-hidden="true"></i> </span> &nbsp;
                  <span class ="title"> Fundtransfer </span></a></li><br/>
          
                  <li>
                    <a [routerLink] = "['/changepassword']">
                      <span class = "icon"> <i class="fa fa-unlock" aria-hidden="true"></i>  </span>  &nbsp;
                      <span class ="title">Forgot User password </span></a></li><br/>
        
                      <li>
                        <a [routerLink] = "['/Transactionstatement']">
                          <span class = "icon"> <i class="fa fa-user-circle-o" aria-hidden="true"></i>  </span>  &nbsp;
                          <span class ="title">Transaction Statement</span></a></li><br/>
                          
                          <li>
                            <a [routerLink] = "['/Accountstatement']">
                              <span class = "icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>  </span>  &nbsp;
                              <span class ="title">Accountstatement</span></a></li><br/>
                          <li>
                            <a [routerLink] = "['/transsearch']">
                              <span class = "icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>  </span>  &nbsp;
                              <span class ="title">Search for Transactions</span></a></li><br/>
                          <li>
                            <a [routerLink] = "['/benidash']">
                              <span class = "icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>  </span>  &nbsp;
                              <span class ="title">Benificiary Dashboard</span></a></li><br/>
                          <li>
                            <a [routerLink] = "['/transdash']">
                              <span class = "icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>  </span>  &nbsp;
                              <span class ="title">Transaction Dashboard</span></a></li><br/>
				

                              <li>
                                <a [routerLink] = "['/Help']">
                                  <span class = "icon"><i class="fa fa-question-circle" aria-hidden="true"></i>  </span>  &nbsp;
                                  <span class ="title">Help</span></a></li><br/>

        <em></em>
       
        
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
    

        <div class="jumbtron">
            <h1 class="display-4 text-center">Change Password</h1>
        </div>
        <form #form="ngForm" autocomplete="off"  (submit)="saveRegister(data)">
            <div class="form-group">
                <div class="form-group">
                    <label>Set Login Password</label>
                    <input type="password" name="Login_Password" #Login_Password="ngModel" [(ngModel)]="data.Login_Password" class="form-control" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"> 
                    <!-- <div class="validation-error" style="color:red" *ngIf="Login_Password.invalid && Login_Password.touched">This field is required</div> -->
                    <div *ngIf="Login_Password.invalid && (Login_Password.dirty || Login_Password.touched)"
                    class="alert alert-danger">
                        <div *ngIf="Login_Password.errors.required">
                            This field is required
                        </div>
                        <div *ngIf="Login_Password.errors.pattern">
                            Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
                        </div>
                  </div>
                </div>
                <div class="form-group">
                    <label>Confirm Login Password</label>
                    <input type="password" name="Confirm_Login_Password" #Confirm_Login_Password="ngModel" [(ngModel)]="data.Confirm_Login_Password" class="form-control" pattern="{{ Login_Password.value }}" required>
                    <!-- <div *ngIf="Confirm_Login_Password.invalid && (Confirm_Login_Password.touched)" style="color:red" class="validation-error"> Password & Confirm Password does not match.</div> -->
                    <div *ngIf="Confirm_Login_Password.invalid && (Confirm_Login_Password.dirty || Confirm_Login_Password.touched)"
                    class="alert alert-danger">
                        <div *ngIf="Confirm_Login_Password.errors.required">
                            This field is required
                        </div>
                        <div *ngIf="Confirm_Login_Password.errors.pattern">
                            Password & Confirm Password does not match
                        </div>
                  </div>
                </div>
            
                <div class="form-group">
                    <label>Set Transaction Password</label>
                    <input type="password" name="Transaction_Password" #Transaction_Password="ngModel" [(ngModel)]="data.Transaction_Password" class="form-control" required>
                    <!-- <div class="validation-error" style="color:red" *ngIf="Transaction_Password.invalid && Transaction_Password.touched">This field is required</div> -->
                    <div *ngIf="Transaction_Password.invalid && (Transaction_Password.dirty || Transaction_Password.touched)"
                    class="alert alert-danger">
                        <div *ngIf="Transaction_Password.errors.required">
                            This field is required
                        </div>
                        <div *ngIf="Transaction_Password.errors.pattern">
                            Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
                        </div>
                  </div>
                </div>
            
                <div class="form-group">
                    <label>Confirm Transaction Password</label>
                    <input type="password" name="Confirm_Transaction_Password" #Confirm_Transaction_Password="ngModel" [(ngModel)]="data.Confirm_Transaction_Password" class="form-control" pattern="{{ Transaction_Password.value }}" required>
                    <!-- <div *ngIf="Confirm_Transaction_Password.invalid && (Confirm_Transaction_Password.touched)" style="color:red" class="validation-error"> Transaction Password & Transaction Confirm Password does not match.</div> -->
                    <div *ngIf="Confirm_Transaction_Password.invalid && (Confirm_Transaction_Password.dirty || Confirm_Transaction_Password.touched)"
                    class="alert alert-danger">
                        <div *ngIf="Confirm_Transaction_Password.errors.required">
                            This field is required
                        </div>
                        <div *ngIf="Confirm_Transaction_Password.errors.pattern">
                            Password & Confirm Password does not match
                        </div>
                  </div>
                </div>
                <div class="text-center">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Proceed</button>
                </div>
            
        </div>
        </form>
        

      
    </div>
  </div>
</div>
<div class="toggle" onclick="toggleMenu()"></div>
<script type="text/javascript">
function toggleMenu(){
  let navigation = document.querySelector('.navigation');
  let toggle = document.querySelector('.toggle')
  navigation.classList.toggle('active');
  toggle.classList.toggle('active');
}
</script>
</body>
</html>


