<div class="jumbtron">
    <h1 class="display-4 text-center">Forgot Password</h1>
    <h3>Enter Details</h3>
</div>

<form #form="ngForm"  (submit)="resetpassword()" autocomplete="off"  >
    <div class="form-group">

    <div class="form-group">
        <label>User Id</label>
        <input type="text" name="UserID" (input)="userid($event)" class="form-control" required pattern="\d{8}">
        <!-- <div class="validation-error" style="color:red" *ngIf="Account_Number.invalid && Account_Number.touched">This field is required</div> -->
    </div>

    <div class="text-center">
        <button type="submit" [disabled]="form.invalid"  class="btn btn-primary">Proceed</button>
    </div>
</div>
</form>
<form #form2="ngForm" (submit)="Pass(OTP)">
    <div class="form-group">
        <label>Otp*</label>
        <input type="number" name="Otp" #Otp="ngModel" [(ngModel)]="OTP" class="form-control" required>
        <div *ngIf="Otp.invalid && (Otp.dirty || Otp.touched)"
        class="alert alert-danger">
            <div *ngIf="Otp.errors.required">
                This field is required
            </div>
      </div>
      <div style="color:red">{{errormessage}}</div>
    </div>
    <div class="text-center">
        <button type="submit" [disabled]="form2.invalid" class="btn btn-primary">Submit</button>
    </div>
</form>

<div *ngIf="isTrue">
    <form #form3="ngForm" autocomplete="off"  (submit)="saveRegister(data)">
        <div class="form-group">
    <div class="form-group">
        <label>Set Login Password</label>
        <input type="password" name="Login_Password" #Login_Password="ngModel" [(ngModel)]="data.Login_Password" class="form-control" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}">
        <div *ngIf="Login_Password.invalid && (Login_Password.dirty || Login_Password.touched)"
        class="alert alert-danger">
            <div *ngIf="Login_Password.errors.required">
                This field is required
            </div>
            <div *ngIf="Login_Password.errors.pattern">
                Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
            </div>
      </div>
    </div>
    <div class="form-group">
        <label>Confirm Login Password</label>
        <input type="password" name="Confirm_Login_Password" #Confirm_Login_Password="ngModel" [(ngModel)]="data.Confirm_Login_Password" class="form-control" pattern="{{ Login_Password.value }}" required>
        <div *ngIf="Confirm_Login_Password.invalid && (Confirm_Login_Password.dirty || Confirm_Login_Password.touched)"
            class="alert alert-danger">
                <div *ngIf="Confirm_Login_Password.errors.required">
                    This field is required
                </div>
                <div *ngIf="Confirm_Login_Password.errors.pattern">
                    Password & Confirm Password does not match
                </div>
          </div>
        
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form3.invalid" class="btn btn-lg btn-block">Submit</button>
    </div>
    </div>
    </form>
    
</div>




