<div class="main">
<div class="jumbtron">
    <h1 class="display-4 text-center">Forgot Password</h1>

</div>

<form #form="ngForm" class="form1" (submit)="resetpassword()" autocomplete="off"  >
   
    <div>
        <input type="text" name="UserID" (input)="userid($event)" class="un" placeholder="Enter UserID" required pattern="\d{8}">
        <!-- <div class="validation-error" style="color:red" *ngIf="Account_Number.invalid && Account_Number.touched">This field is required</div> -->
    </div>

    <div>
        <button type="submit" [disabled]="form.invalid"  class="submit">Proceed</button>
    </div>

</form>
<form #form2="ngForm" class="form1" (submit)="Pass(OTP)">
    <div>
        <input type="number" name="Otp" #Otp="ngModel" [(ngModel)]="OTP" placeholder="Enter OTP" class="un" required>
      <div style="color:red">{{errormessage}}</div>
    </div>
    <div>
        <button type="submit" [disabled]="form2.invalid" class="submit">Submit</button>
    </div>
</form>
<div>
<div class="main" *ngIf="isTrue">
    <form #form3="ngForm"  class="form1" autocomplete="off"  (submit)="saveRegister(data)">
        
    <div>
        <input type="password" name="Login_Password" placeholder="Set Login Password" #Login_Password="ngModel" [(ngModel)]="data.Login_Password" class="un" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}">
        <div *ngIf="Login_Password.invalid && (Login_Password.dirty || Login_Password.touched)"
        class="alert alert-danger">
            <div *ngIf="Login_Password.errors.required">
                This field is required
            </div>
            <div *ngIf="Login_Password.errors.pattern">
                Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
            </div>
      </div>
    
    <div >
    
        <input type="password" name="Confirm_Login_Password" #Confirm_Login_Password="ngModel" placeholder="Confirm Login Password" [(ngModel)]="data.Confirm_Login_Password" class="un" pattern="{{ Login_Password.value }}" required>
        <div *ngIf="Confirm_Login_Password.invalid && (Confirm_Login_Password.dirty || Confirm_Login_Password.touched)"
            class="alert alert-danger">
                <div *ngIf="Confirm_Login_Password.errors.required">
                    This field is required
                </div>
                <div *ngIf="Confirm_Login_Password.errors.pattern">
                    Password & Confirm Password does not match
                </div>
          </div>
        
    </div>
    <div>
        <button type="submit" [disabled]="form3.invalid" class="submit">Submit</button>
    </div>
    </div>
    </form>
    
</div>




