
    div {
        text-align: center;
        border: 2px solid black;
        padding: 10px;
        margin: 5px;
       }
      
    
    td, th {
      border: 2px solid #dddddd;
      text-align: right;
      
      padding: 8px;
    }
