<a [routerLink] = "['/home']" style="float: right;" >Home</a><br/>
<div class="main">
    <h4 class="display-4 text-center">Admin Credentials</h4>
    <form #adminForm='ngForm' class="form1" (ngSubmit)='saveAdmin(admindeets)'>
        <div>
            
            <input type="text" class="un" id='Admin_Id' name="Admin_Id" placeholder="Enter User Name" [(ngModel)]='admindeets.Admin_Id' />
        </div>
        <div>
            <input type="password" class="pass" id='Password' placeholder="Enter Password" name="Password" [(ngModel)]='admindeets.Password' />
        </div>
        <div>
            <button type="submit" [disabled]='adminForm.invalid' class="submit">Save</button>
        </div>
    </form>
    </div>

