<div class="jumbtron">
        <h1 class="display-4 text-center">Tracking Status</h1>
        <h4>Enter your Reference Id</h4>
</div>
<div class="text-center" style="font-weight: bolder;">
        <label>Reference ID*</label>&nbsp;
        <input type="text" (input)="refid($event)" required><br/><br/>
        <button (click)="ontrack()">Track</button><br/>
        
</div>
<p>Note:Kindly Check the Appoval and Reject Staus</p>
<p>Approve : Yes -->You Can Login and Using the Credentials send to Your</p>
<p>Reject  : Yes -->You Should Again Request for New Account</p>
<hr/>
<div style="font-weight: bolder;">Your Current Status :<span style="color: green;">{{tracking.Approval_Status}} </span></div>
<hr/>
<div style="font-weight: bolder;">Your Current Status :<span style="color: green;">{{tracking.Reject_Status}} </span></div>
<hr/>
